.comment {
  margin: 0.5rem 0;

  &.thread {
    margin: 0;
  }

  display: flex;
  flex-direction: column;
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .meta {
      display: flex;
      flex-direction: row;
      .author {
        align-self: center;
      }
      .age {
        align-self: center;
      }
    }
    .author {
      margin-right: 10px;
    }
    .counts {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      .upvote-count {
        align-self: center;
      }
      .downvote-count {
        align-self: center;
      }
      .upvote-button.voted {
        color: green;
      }
      .downvote-button.voted {
        color: red;
      }
    }
  }
}
