@use 'mixins';

.finding-card {
  &-content {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    @include mixins.thumbnail(220px, 142px);

    .finding-body {
      display: flex;
      flex: 1;
      min-width: 0;
      flex-direction: row;
      gap: 1rem;
      .actions {
        flex: 0 0 auto;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .content {
        min-width: 0;
        display: flex;
        flex-direction: column;
        .meta {
          display: flex;
          flex-wrap: wrap;
          gap: 1rem;
        }
      }
    }
  }
}
