@use 'mixins';

.feed-state {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  &.empty,
  &.error {
    @include mixins.in-container-message;
  }
  &.loading {
    @include mixins.viewport-center;
  }
  &.error {
    .retry-button {
      align-self: center;
    }
  }
}
.pager {
  display: flex;
  justify-content: space-between;
}
