@if (state.loading()) {
  <div class="document-state loading">
    <mat-spinner />
  </div>
} @else if (state.error()) {
  <div class="document-state error">
    <h2>Couldn't load the Privacy Policy.</h2>
  </div>
} @else {
  <div class="document-state">
    <h2 class="version-line">
      {{
        `Version ${state.value().version} effective from ${(state.value().effectiveFrom | date)}`
      }}
    </h2>
    @for (section of state.value().sections; track section.number) {
      <article>
        <h3 class="section-title">
          {{ `#${section.number}: ${section.title}` }}
        </h3>
        @for (point of section.paragraphs; track $index) {
          <p class="paragraph">
            {{ point }}
          </p>
        }
      </article>
    }
  </div>
}
